<h1>New Article</h1>

<%= form_for :article, url: articles_path do |f| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class='well'>

  <div class="input-group">
    <span class="input-group-addon" id="title"><%= f.label :title %></span>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <br>
  <p>
    <%= f.text_area :text, class: 'form-control', rows: "10" %>
  </p>
 
  <p>
    <%= f.submit 'Save', class: 'btn btn-default btn-lg' %>
  </p>
</div>
<% end %>