<!DOCTYPE html>
<html>
<head>
  <title>Yet another blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Yet another blog', articles_path %>
<%= link_to 'New article', new_article_path %>

<%= yield %>

</body>
</html>
